*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Prompt", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background: linear-gradient(to bottom, #4295d0, #000000);
}

:root {
  --menu-background-color: #4295d0;
  --menu-color: #085f9d;
  --klean-freak-yellow: #feff00;
  --unlimted-freak-red: #c22c3b;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Desktop Styles */

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.top-header {
  width: 100%;
  height: 85px;
  background-color: var(--klean-freak-yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-section {
  display: flex;
}

.the-weather {
  margin-left: 5rem;
  font-size: 26px;
}

.event-banner-m {
  display: none;
}
.manage-subscription {
  margin-left: auto;
  text-align: right;
  margin-right: 10rem;
}
.manage-account-link {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
}

.navigation {
  height: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--menu-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
}

.dropdown {
  position: absolute;
  display: none;
  background-color: var(--menu-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  z-index: 1;
}

.drop-down-element {
  margin: 1rem;
}

.dropdown a:hover {
  text-decoration: underline;
}

nav li:hover .dropdown {
  display: block;
}

.nav-element {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.nav-element a:hover {
  color: #fff !important;
}

.klean-freak-logo {
  position: relative;
  margin-top: 2rem;
  margin-bottom: -2rem;
  margin-left: -3rem;
  z-index: 1;
}

.footer-desktop-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: #fff;
  background-color: #000;
}

.address-p {
  color: #fff;
}
.address-box {
  text-align: center;
}

.follow-us-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.manage-account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 250px;
  background-color: var(--klean-freak-yellow);
  height: 60px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 17px;
}

.footer-mobile-view {
  display: none;
}

.top-nav-m {
  display: none;
}

.package-box {
  background: var(--klean-freak-yellow);
  width: 320px;
}

.package-page {
  background-color: #fff;
}

/* Hero Video */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section-background-video {
  position: relative;
}

.hero-section-m {
  display: none;
}
.package-selection-box-m {
  display: none;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
}

.hero-package-box {
  width: 320px;
  height: 600px;
  background-color: var(--klean-freak-yellow);
  margin-right: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  text-align: center;
}

.hero-package-box-btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
/* Packages Page */

/* Hide / Show tab's content  */

.active {
  display: block;
}

.tab {
  display: none;
}

.vertical-tabs {
  display: flex;
}

.tab-menu {
  flex: 1; /* take up remaining width */
}

.tab-menu button {
  display: block;
  border: 0;
  padding: 10px;
  width: 235px;
  height: 235px;
  font-size: 40px;
  font-weight: 800;
  color: #fff;
}

.tab-menu button.active {
  border: none;
}

.tab-content {
  width: 500px; /* take up more width */
  padding: 20px;
}

.tab-content div {
  display: none;
}

.tab-content div.active {
  display: block;
}
.arrow {
  display: none;
}

.active::after {
  content: " ";
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000;
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  color: blue;
}

.package-btn-1 {
  background-color: #c22c3b;
  outline: none;
}
.package-btn-2 {
  background-color: #4295d0;
}

.package-btn-3 {
  background-color: #c1c1c1;
}

.line-through-text {
  text-decoration: line-through;
  color: #c1c1c1;
}

.package-list {
  margin-top: 3rem;
  font-weight: 800;
  line-height: 40px;
  font-size: 26px;
}
.package-img {
  margin-left: 17rem;
  animation: animName 2s linear infinite;
}

@keyframes animName {
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/** animation code for packages **/

.tab-btn.active {
  animation-name: pulse;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  outline: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/** animation code for packages **/
.manage-memebership-box {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -5rem;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 680px;
  background: #fff;
  margin-bottom: 5rem;
  font-size: 22px;
  padding: 45px;
}

.content-text-box {
  font-size: 16px;
}

.text-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* Location Page */
.location-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 680px;
  height: auto;
  background: #fff;
  margin-bottom: 5rem;
  font-size: 22px;
}

.package-selection-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  font-size: 22px;
}
.google-map-m {
  display: none;
}

.package-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.package-box-header {
  margin: 2rem;
  text-align: center;
  font-size: 41px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.package-box-price {
  font-size: 41px;
  color: #fff;
  border: 1px solid #000;
}
.google-map {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*Package Box 2.0 Styling */
.package-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.package-col {
  width: 400px;
  opacity: 0; /* Start with the text hidden */
  animation: fadeIn 2s ease-in forwards;
}
.package-h1 {
  color: #fbeb62;
  font-size: 2.7rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}
.package-card {
  width: 500px;
  opacity: 0; /* Start with the text hidden */
  animation: fadeInLeft 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
.package-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6.5rem;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: var(--unlimted-freak-red);
}

.super-freak {
  background-color: #4295d0;
}

.klean-freak {
  background-color: #c1c1c1;
}
.package-col {
  padding: 45px;
  max-width: 450px;
}
.vertical-line {
  border-left: 2px solid #e8e8e8;
  height: 100px;
  margin: 2rem 20px;
}
.package-p {
  font-size: 1rem;
  font-weight: 400;
}

.package-h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.package-list {
  display: flex;
  flex-direction: row;
}
.package-price-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.package-btn {
  width: 240px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--klean-freak-yellow);
  border: none;
}

.package-btn:hover {
  background-color: #fff;
  border: 2px solid #000;
}
.package-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.price {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: -0.5rem;
}

.price-span {
  font-size: 1.5rem;
}

.price-type {
  text-transform: uppercase;
}
.become-a-member-section {
  display: flex;
  flex-direction: row;
}
.become-member-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20rem;
  background-color: #feff00;
  width: 50%;
  height: 360px;
}
.become-member-box-2 {
  background-color: #0b5f9d;
  width: 50%;
  height: 360px;
}

.memeber-btn {
  width: 200px;
  height: 60px;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
.memeber-btn-a {
  text-decoration: none;
}
.become-member-h1 {
  font-size: 2.7rem;
  font-weight: bold;
}

.become-memeber-p {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*                   */

.location-text-box {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1425px) {
  .hero-package-box {
    margin-right: 10rem;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 480px) {
  .event-banner-m {
    display: block;
  }
  .event-banner {
    display: none;
  }
  .top-header {
    display: none;
  }
  .navigation {
    display: none;
  }

  .hero-section-background-video {
    display: none;
  }

  .package-selection-box {
    display: none;
  }

  .hero-section-m {
    display: block;
    background-image: url(Hero-Image-M.png);
    height: 580px;
  }

  .hero-package-box-m {
    background-color: var(--klean-freak-yellow);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .package-selection-box-m {
    display: block;
  }
  .footer-desktop-view {
    display: none;
  }
  .mobile-header {
    display: block;
    background-color: #085f9d;
    display: flex;
    justify-content: space-between;
  }

  .mobile-nav-element {
    width: 400px;
  }
  .hamburger-button {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-mobile-view {
    display: block;
    background-color: #000;
  }
  .address-box {
    font-size: 17px;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .address-p {
    text-decoration: underline;
  }
  .mobile-address-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .social-media-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }

  .manage-account-btn {
    margin-bottom: 2rem;
    width: 320px;
  }

  .follow-us-row {
    justify-content: space-between;
  }
  .facebook-icon-mobile {
    margin-left: auto;
  }
  .top-nav-m {
    display: none;
  }

  .mobile-nav.open {
    display: block;
  }

  .klean-freak-logo {
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: 12;
  }

  /* Style the navigation menu */

  .mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--menu-color);
    color: #fff;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 3rem;
    margin-left: 0.8rem;
  }

  .top-nav-m {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--menu-color);
    color: #fff;
    height: 100px;
    padding: 1em;
  }

  .menu {
    align-items: flex-start;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: flex;
    margin-top: 2rem;
    margin-right: 1rem;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: var(--menu-color);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 6rem;
    left: 0;
    flex-direction: column;
    width: 100%;
  }

  .hamburger-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: left;
    width: 100%;
    background-color: #085f9d;
    text-align: left;
    z-index: 11;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: auto;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    margin: 0;
    width: 100%;
    color: white;
    background-color: var(--menu-color);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .accordion {
    background-color: var(--menu-color);
    color: #fff;
    padding: 18px;
    width: 400px;
    text-align: left;
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 800;
  }

  .accordian-no-click {
    background-color: var(--menu-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
  }

  .panel {
    width: 400px;
    padding: 0 18px;
    background-color: var(--menu-background-color);
    display: none;
    flex-direction: column;
    overflow: hidden;
    align-content: center;
  }

  /* package accordian */

  .package-accordion {
    background-color: var(--menu-color);
    color: #fff;
    padding: 25px;
    width: 100vw;
    text-align: center;
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 800;
  }

  .package-panel {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100vw;
    background-color: #fff;
  }

  .package-list {
    margin-top: 0;
    font-weight: 800;
    line-height: 40px;
    font-size: 16px;
    padding-left: 20px;
  }

  .open {
    display: block;
  }
  .package-img {
    margin-left: 12rem;
  }

  .hamburger-panel-element {
    height: 40px;
    margin-top: 1rem;
    font-size: 17px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
  }

  .the-weather {
    margin-right: 2rem;
  }
  .weather-section {
    margin-left: 3rem;
  }

  .the-weather {
    font-size: 17px;
    margin-left: 0;
    margin-top: 1rem;
  }

  .manage-account-nav {
    width: 100%;
    margin-bottom: 0;
  }

  .manage-account-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    background-color: #feff00;
    height: 60px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 17px;
  }

  .manage-memebership-box {
    width: 100vw;
    padding-top: 75px;
  }
  .membership-link {
    margin-top: 2rem;
  }

  .page-content {
    margin-top: 2rem;
    flex-direction: column !important;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background: #fff;
    margin-bottom: 5rem;
    font-size: 22px;
    padding: 45px;
  }

  .location-box {
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .google-map {
    display: none;
  }

  .google-map-m {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .package-box {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .location-text-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  /* Mobile package 2.0 */
  .package-h1 {
    font-size: 2rem;
  }
  .package-section {
    flex-direction: column;
  }

  .package-col {
    width: 100%;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    text-align: center;
  }

  .package-card {
    width: 100%;
    opacity: 0;
    animation: fadeInLeft 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  .package-list {
    flex-direction: column;
  }
  .become-a-member-section {
    flex-direction: column;
  }
  .become-member-box-1 {
    align-items: center;
    padding-left: 1rem;
    width: 100%;
  }
  .become-member-box-2 {
    display: none;
  }
  .become-member-h1 {
    font-size: 2rem;
    text-align: center;
  }

  .become-memeber-p {
    width: 80%;
    text-align: center;
  }
}
