
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: "Prompt", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Desktop Styles */

a{
  text-decoration: none;
  
}
.top-header{ 
  width: 100%;
  height: 85px; 
  background-color: #FEFF00;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.weather-section{
  display: flex;
}

.the-weather{
  margin-left: 5rem;
  font-size: 26px;

}


.manage-subscription{
  margin-left: auto;
  text-align: right;
  margin-right: 10rem;
}
.manage-account-link{
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
}

.navigation{
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #085F9D;
   
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  
}

.dropdown {
  position: absolute;
  display: none;
  background-color: #4295D0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 350px;
}

.drop-down-element{
  margin: 1rem;
}

.dropdown a:hover{
  text-decoration: underline; 
}

nav li:hover .dropdown {
  display: block; 
}

.nav-element{
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}
.klean-freak-logo{
  margin-top: 2rem;
  margin-bottom: -2rem;
}


.footer-desktop-view{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: #fff;
  background-color: #000;
}

.address-p{
  color: #fff;
}
.address-box{
   text-align: center;
   text-decoration: underline;
}

.follow-us-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.manage-account-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 250px;
  background-color: #FEFF00;
  height: 60px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 17px;

}

.footer-mobile-view{
  display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {

  .top-header{
    display: none;
  }
  .navigation{
    display: none;
  }
  .footer-desktop-view{
    display: none;
  }
  .footer-mobile-view{
    display: block;
    background-color: #000; 

  }
  .address-box{
  font-size: 20px;
   margin-top: 2rem;
   margin-bottom: 2rem;
  }
  .address-p{
    text-decoration: underline;
  }
  .mobile-address-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .social-media-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .manage-account-btn{
    margin-bottom: 2rem;
    width: 320px;
  }

  .follow-us-row{
   justify-content: space-evenly;
  }
  .facebook-icon-mobile{
    margin-left: auto;
  }

}